<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="utf-8">
        <title>密码学作业</title>
        <meta name="description" content="crypt_work">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body ng-app="encrypt" >
   密码学作业:     班级：08311201  学号 :1120122189  杨振洲<br/>

        <h1>AES加密</h1>
         <p>
            用Javascript实现AES的加密与解密,密钥长度128位(16字节)<br/>
    当密钥长度在01字节到16字节时[8,128]Bits,密钥以0x00填充满16字节.<br/>
    当密钥长度在16字节到24字节时(128,192]Bits,密钥以0x00填充满24字节.<br/>
    当密钥长度在24字节到32字节时(192,256]Bits,密钥以0x00填充满32字节.<br/>
    当密钥长度超过32字节时(256,+∞)Bits,密钥只取前32字节(128Bits).<br/>
    仅支持ASCII字符.采用ECB模式加密<br/>
        </p>
      <div ng-controller="aes_encrypt">
          <p>加密</p>
          原字符串：
          <input ng-model="init_code" ng-change="aesss()"/>
          密钥：
          <input ng-model="secret_code" ng-change="aesss()"/>
         <br/>
          aes加密:{{aes_code}}            
      </div>
       <br/> <br/> <br/> <br/>
        <div ng-controller="aes_decrypt">
            <p>解密</p>
          原字符串：
          <input ng-model="init_code" ng-change="aesss()"/>
          密钥：
          <input ng-model="secret_code" ng-change="aesss()"/>
          <br/>
          aes解密:{{aes_code}}        
      </div>
        <h1>ECC加密</h1>
        <a href="js/eligmel1.js">代码文件</a>
        
        <p>椭圆  A:13  B:22  P:23  g(10.5)<br/>
            <p>加密信息   M= (11,1)  随机数r＝13<br/>
                <加密密文>  密文: c1=rg=(16,5)   密文2 :c2=M+rK=(18,19)<br/>
                
                <p>解密(11,1)<br/>
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="bower_components/angular-route/angular-route.min.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script src="js/aes.js"></script>
        <script src="js/encrypt.js"></script>
        <script src="js/eligmel1.js"></script>
    </body>
</html>
